<div id="header">
   <h1>This is your header</h1>
   <p>Edit root/header/default.tt</p>
</div>
[% # Include the navigation
IF page.nav && page.nav != 'none';
    PROCESS "nav/${page.nav}.tt";
END;
~%]
