<style>
body {
	color: #999;
	margin: auto 10px;
}

/* fluid Grids layout */
#bd {
    padding-left: 170px; /* allow for left column (#nav) */

}

/* end Grids customization */

h1 {
	text-align: left;
	background-color: #ccc;
	padding: .25em;
	color: #000;
}

#footer {
	border-top: solid 1px #000;
	font-size: 85%;
	padding-top: .25em;
}

form, form div {
	margin: .5em 0;
}

p.first-of-type {
	margin-top: .5em;
}

.yui3-loading #productsandservices {
	display: none;
}

#layout {
    padding-left:300px; /* "left col" width */
    padding-right:150px; /* "right col" width */
}

#nav {
    margin-left:-300px; /* "left col" width */
    width:300px;
}

#extra {
    width:150px;
    margin-right:-150px; /* "right col" width */
}

#main {
  margin: 1em;
  width:100%;
  font-size: 1em;
}
</style>
